[Unit]
Description=Nomad client agent (grove)
Documentation=https://developer.hashicorp.com/nomad
Wants=network-online.target docker.service
After=network-online.target docker.service

[Service]
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/bin/nomad agent -config /etc/nomad.d
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
Restart=on-failure
RestartSec=2
TasksMax=infinity
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
